.add-btn__add-icon--_Vi_TH {
    cursor: pointer;
    position: absolute;
    z-index: 9999;
}

.add-btn__add-before--QsXyge {
    top: -24px;
    left: calc(50% - 24px);
    width: 48px;
    height: 24px;
}

.add-btn__add-after--D5YKBt {
    bottom: -24px;
    left: calc(50% - 24px);
    width: 48px;
    height: 24px;
}

.add-btn__add-parent--2UVIQI {
    left: -24px;
    top: calc(50% - 24px);
    width: 24px;
    height: 48px;
}

.add-btn__add-child--2p8Ylr {
    right: -24px;
    top: calc(50% - 24px);
    width: 24px;
    height: 48px;
}.item__item--2i7JEl {
    position: relative;
    display: inline-block;
    min-width: 6em;
    max-width: 15em;
    line-height: 1.4em;
    min-height: 2.4em;
    margin: 15px 30px;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 24px;
    color: transparent;
    word-break: break-all;
    white-space: pre-wrap;
}

.item__item-input--1x-Z_m {
    /* normalize */
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    /* *** */
    position: absolute;
    width: calc(100% - 2em + 1px); /* */
    height: calc(100% - 1em);
    font-family: 'Microsoft Yahei';
    line-height: 1.4em;
    overflow: hidden;
}

.item__item-mask--xPfKrX {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.item__item-level-0--1MZhTt {
    background-color: #4a2d5d;
    font-size: 20px;
}

.item__item-level-0-selected--3XXwQW {
    border-radius: 4px;
}

.item__item-level-0--1MZhTt .item__item-input--1x-Z_m {
    background-color: #4a2d5d;
    color: #fefaee;
    font-size: 20px;
}

.item__item-level-1--1B4fxY {
    background-color: #fbc2a4;
    color: #4a2d5d;
    font-size: 16.8px;
}

.item__item-level-1-selected--2QooqB {
    border-radius: 4px;
}

.item__item-level-1--1B4fxY .item__item-input--1x-Z_m {
    background-color: #fbc2a4;
    color: #4a2d5d;
    font-size: 16.8px;
}

.item__item-level-2--132V-7 {
    background-color: #c2e3d2;
    color: #4a2d5d;
    font-size: 14.4px;
}

.item__item-level-2-selected--1DJIaG {
    border-radius: 4px;
}

.item__item-level-2--132V-7 .item__item-input--1x-Z_m {
    background-color: #c2e3d2;
    color: #4a2d5d;
    font-size: 14.4px;
}

.item__item-level-3--1DEPmP {
    border-radius: 0;
    border-bottom: 1px solid #a39e8a;
    background-color: none;
    color: #4a2d5d;
    font-size: 12px;
}

.item__item-level-3-selected--JzX4vl {
    border-radius: 4px;
    border: 1px solid #a39e8a;
}

.item__item-level-3--1DEPmP .item__item-input--1x-Z_m {
    background-color: transparent;
    color: #4a2d5d;
    font-size: 12px;
}

.item__item-no--3MeAKh {
    position: absolute;
    left: -4px;
    top: -12px;
    font-size: 0.8em;
}.branch__branch--1Mm4G3 {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.branch__branch-root--8VilXt {
    height: 0;
    display: inline-flex;
    align-items: center;
}

.branch__parent-item--1pnCAn {
    position: relative;
    display: inline-flex;
}

.branch__child-items--_Gj8oh {
    display: inline-flex;
    flex-direction: column;
}

.branch__link--1KFD_M {
    display: block;
    position: absolute;
    top: 50%;
    right: -10px;
    width: 40px;
    border-top: 1px solid #a39e8a;
}

.branch__branch--1Mm4G3::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 100%;
    margin: auto;
    left: -30px;
    border-right: 3px double #a39e8a;
}

.branch__branch--1Mm4G3:first-child::before {
    height: 50%;
    bottom: 0;
}

.branch__branch--1Mm4G3:last-child::before {
    height: 50%;
    top: 0;
}.map__map--3vxAyr {
    position: absolute;
    top: 3333px;
    left: 333px;
    right: auto;
}.tooltip__tip--1dtEHN {
    position: fixed;
    padding: 6px 12px;
    line-height: 1.5;
    border-radius: 2px;
    background-color: #565656;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.tooltip__tip--1dtEHN::after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    transform: translateX(-50%) rotate(45deg);
    background-color: #565656;
}.tool-btn__btn--3z0BWx {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.tool-btn__btn--3z0BWx:hover {
    background-color: rgba(74, 59, 12, .05);
}.tools__container--1nBsRN {
    position: fixed;
    bottom: 36px;
    right: 36px;
    width: 36px;
    height: 36px;
}

.tools__expand-btn--2fwcGy {
    position: absolute;
    z-index: 99999;
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-color: #fefaee;
    fill: #a39e8a;
    border-radius: 50%;
    box-shadow: 0 2px 8px 1px rgba(74, 59, 12, 0.2);
    transition: all 150ms ease-out;
}

.tools__expand-btn--2fwcGy:hover {
    background-color: #f2e4bc;
    fill: #fff;
}

.tools__expand-btn-expanded--Lc8a00 {
    background-color: #f2e4bc;
    fill: #fff;
}

.tools__tool-grp-container--2POP2x {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 36px;
    border-radius: 18px;
    overflow: hidden;
}

.tools__tool-grp--32xDgn {
    display: inline-block;
    width: 264px;
    height: 36px;
    padding: 0 10px;
    background-color: #f2e4bc;
    border-radius: 18px;
    vertical-align: middle;
    fill: #fff;
    overflow: hidden;
    transition: all 300ms ease-out;
}

.tools__vertical-line--3TZvCL {
    display: inline-block;
    margin: 9px 6px;
    height: 18px;
    border-left: 2px solid #f9f1db;
}
* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Yahei';
}

body {
    width: 9999px;
    height: 6666px;
    position: relative;
    background-image: url(images/pattern-32b90a80.png);
}