.add-icon {
    cursor: pointer;
    position: absolute;
    stroke-width: 0;
}

.add-before {
    composes: add-icon;
    top: -24px;
    left: calc(50% - 24px);
    width: 48px;
    height: 24px;
}

.add-after {
    composes: add-icon;
    bottom: -24px;
    left: calc(50% - 24px);
    width: 48px;
    height: 24px;
}

.add-parent {
    composes: add-icon;
    left: -24px;
    top: calc(50% - 24px);
    width: 24px;
    height: 48px;
}

.add-child {
    composes: add-icon;
    right: -24px;
    top: calc(50% - 24px);
    width: 24px;
    height: 48px;
}