.branch {
    display: inline-flex;
    align-items: center;
}

.branch-root {
    height: 0;
    display: inline-flex;
    align-items: center;
}

.parent-item {
    display: inline-flex;
}

.child-items {
    display: inline-flex;
    flex-direction: column;
}