.branch {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.branch-root {
    height: 0;
    display: inline-flex;
    align-items: center;
}

.parent-item {
    position: relative;
    display: inline-flex;
}

.child-items {
    display: inline-flex;
    flex-direction: column;
}

.link {
    display: block;
    position: absolute;
    top: 50%;
    right: -10px;
    width: 40px;
    border-top: 1px solid #a39e8a;
}

.branch::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 100%;
    margin: auto;
    left: -30px;
    border-right: 3px double #a39e8a;
}

.branch:first-child::before {
    height: 50%;
    bottom: 0;
}

.branch:last-child::before {
    height: 50%;
    top: 0;
}