* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Yahei';
}

body {
    width: 9999px;
    height: 6666px;
    position: relative;
    background-image: url('../images/pattern.png');
}