.container {
    position: fixed;
    bottom: 36px;
    right: 36px;
    width: 36px;
    height: 36px;
}

.btn {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.btn:hover {
    background-color: rgba(74, 59, 12, .05);
}

.expand-btn {
    composes: btn;
    position: absolute;
    z-index: 99999;
    background-color: #fefaee;
    fill: #a39e8a;
    border-radius: 50%;
    box-shadow: 0 2px 8px 1px rgba(74, 59, 12, 0.2);
    transition: all 150ms ease-out;
}

.expand-btn:hover {
    background-color: #f2e4bc;
    fill: #fff;
}

.expand-btn-expanded {
    composes: expand-btn;
    background-color: #f2e4bc;
    fill: #fff;
}

.tool-grp-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 36px;
    border-radius: 18px;
    overflow: hidden;
}

.tool-grp {
    display: inline-block;
    width: 264px;
    height: 36px;
    padding: 0 10px;
    background-color: #f2e4bc;
    border-radius: 18px;
    vertical-align: middle;
    fill: #fff;
    overflow: hidden;
    transition: all 300ms ease-out;
}

.vertical-line {
    display: inline-block;
    margin: 9px 6px;
    height: 18px;
    border-left: 2px solid #f9f1db;
}
